{% extends "lac/base.html" %}
{% block content %}
<h2>Neues TOTP-Gerät hinzufügen</h2>

<form method="post">{% csrf_token %}
    <h2>Name des Geräts</h2>
    <p>Geben Sie einen Namen für das Gerät ein, um es zu identifizieren.</p>
    <label for="device_name">Gerätename:</label>
    <input type="text" id="device_name" name="device_name", value="{{ device_name }}">

    <h2>QR-Code scannen</h2>
    <p>Scannen Sie den QR-Code mit Ihrer Authenticator-App.</p>
    <img src="{{ img }}" alt="QR" style="width: 15rem"/>

    <h2>Manuelle Eingabe</h2>
    <p>Wenn Sie den QR-Code nicht scannen können, geben Sie bitte den folgenden Schlüssel in Ihre Authenticator-App ein:</p>
    <p>{{ base32_code }}</p>

    <h2>Code bestätigen</h2>
    <p>Geben Sie den Code ein, den Ihre Authenticator-App generiert hat.</p>

    <label for="totp_code">TOTP-Code (Sechsstellig)</label>
    <input type="text" id="totp_code" name="totp_code">
    <div class="grid">
        <div>
            <a href="{% url "otp_settings" %}"role="button" class="secondary" style="display: block;">Zurück</a>
        </div>
        <input type="submit" value="Gerät hinzufügen">
    </div>
</form>

{% endblock %}