{% extends "lac/base.html" %}
{% block content %}

<h2>{% trans "Welcome" %} {{ user_information.displayName }}</h2>

{% include "idm/libre_workspace_challenges.html" %}

{% if user_information.admin %}

<div class="grid">
    {% if ldap_enabled %}
    <a class="secondary" href="{% url "user_overview" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">manage_accounts</span> 
            <br> 
            {% trans "User administration" %}
        </article>
    </a>
    <a class="secondary" href="{% url "group_overview" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">groups</span> 
            <br> 
            {% trans "Group administration" %}
        </article>
    </a>
    {% endif %}
    <a class="secondary" href="{% url "data_management" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">save</span> 
            <br> 
            {% trans "Data import / export" %}
        </article>
    </a>
    <a class="secondary" href="{% url "file_explorer" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">folder</span> 
            <br> 
            {% trans "File-Explorer" %}
        </article>
    </a>
</div>
<div class="grid">
    <a class="secondary" href="{% url "unix_index" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">dns</span> 
            <br> 
            {% trans "System management" %}
        </article>
    </a>
    <a class="secondary" href="{% url "system_configuration" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">settings</span> 
            <br> 
            {% trans "System configuration" %}
        </article>
    </a>
</div>

<h3>{% trans "Custom settings" %}</h3>
{% endif %}


<div class="grid">
    <a class="secondary" href="{% url "user_settings" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">account_circle</span> 
            <br> 
            {% trans "Profile settings" %}
        </article>
    </a>
    <a class="secondary" href="{% url "change_password" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">password</span> 
            <br> 
            {% trans "Change password" %}
        </article>
    </a>
    {% if desktop_module_active and user_information.admin %}
    <a class="secondary" href="{% url "desktop_settings" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">desktop_windows</span> 
            <br> 
            {% trans "Cloud Desktop settings" %}
        </article>
    </a>
    {% endif %}
</div>


{% endblock %}