{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2>Willkommen {{ user_information.displayName }}</h2>

{% if user_information.admin %}

{% include "idm/libre_workspace_challenges.html" %}

<div class="grid">
    {% if ldap_enabled %}
    <a class="secondary" href="{% url "user_overview" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">manage_accounts</span> 
            <br> 
            Benutzeradministration
        </article>
    </a>
    <a class="secondary" href="{% url "group_overview" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">groups</span> 
            <br> 
            Gruppenadministration
        </article>
    </a>
    {% endif %}
    <a class="secondary" href="{% url "data_management" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">save</span> 
            <br> 
            Datenimport/-export
        </article>
    </a>
    <a class="secondary" href="{% url "file_explorer" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">folder</span> 
            <br> 
            Datei-Explorer
        </article>
    </a>
</div>
<div class="grid">
    <a class="secondary" href="{% url "unix_index" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">dns</span> 
            <br> 
            Systemverwaltung
        </article>
    </a>
    <a class="secondary" href="{% url "system_configuration" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">settings</span> 
            <br> 
            Systemkonfiguration
        </article>
    </a>    
</div>

<h3>Eigene Einstellungen</h3>
{% endif %}


<div class="grid">
    <a class="secondary" href="{% url "user_settings" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">account_circle</span> 
            <br> 
            Profileinstellungen
        </article>
    </a>
    <a class="secondary" href="{% url "change_password" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96" style="padding: 0.5rem;">password</span> 
            <br> 
            Passwort ändern
        </article>
    </a>
</div>


{% endblock %}