{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2>Willkommen {{ user_information.displayName }}</h2>

{% if user_information.admin %}

<div class="grid">
    <a class="secondary" href="{% url "user_overview" %}">
        <article style="text-align: center;">
            <span class="material-icons md-128">manage_accounts</span> 
            <br> 
            Benutzeradministration
        </article>
    </a>
    <a class="secondary" href="{% url "group_overview" %}">
        <article style="text-align: center;">
            <span class="material-icons md-128">groups</span> 
            <br> 
            Gruppenadministration
        </article>
    </a>
    <a class="secondary" href="{% url "unix_index" %}">
        <article style="text-align: center;">
            <span class="material-icons md-128">dns</span> 
            <br> 
            Systemverwaltung
        </article>
    </a>
</div>

<h3>Eigene Einstellungen</h3>
{% endif %}


<div class="grid">
    <a class="secondary" href="{% url "user_settings" %}">
        <article style="text-align: center;">
            <span class="material-icons md-128">account_circle</span> 
            <br> 
            Profileinstellungen
        </article>
    </a>
    <a class="secondary" href="{% url "change_password" %}">
        <article style="text-align: center;">
            <span class="material-icons md-128">password</span> 
            <br> 
            Passwort ändern
        </article>
    </a>
</div>


{% endblock %}