{% extends "lac/base.html" %}
{% block content %}

<h2>{% trans "Login" %}</h2>


<form method="post">{% csrf_token %}
    <label for="text">{% trans "Account name or E-Mail" %}</label>
    <input type="text" id="username" name="username" value="{{username}}">
    
    <label for="text">{% trans "Password" %}</label>
    <input type="password" id="password" name="password">
    
    {% if message %}
    <p><strong>{{ message }}</strong></p>
    {% endif %}
    
    <input type="submit" value="{% trans 'Login' %}">
    
    <div style="text-align: center;">
        <a  href="{% url 'user_password_reset' %}">
            {% trans "Forgot password?" %}
        </a>
    </div>
</form>

{% endblock %}