{% extends "lac/base.html" %}
{% block content %}

<h2>Anmelden</h2>


<form method="post">{% csrf_token %}
    <label for="text">Kontoname oder E-Mail</label>
    <input type="text" id="username" name="username">
    
    <label for="text">Passwort</label>
    <input type="password" id="password" name="password">
    
    {% if message %}
    <p><strong>{{ message }}</strong></p>
    {% endif %}
    
    <input type="submit" value="Anmelden">
    
    <div style="text-align: center;">
        <a  href="{% url 'user_password_reset' %}">
            Passwort vergessen?
        </a>
    </div>
</form>

{% endblock %}