#_preseed_V1
#### Contents of the preconfiguration file (for bullseye)

# Language selection
# d-i debian-installer/language string de
# d-i debian-installer/country string DE
# d-i debian-installer/locale string de_DE.UTF-8

# # Keyboard selection.
#d-i keyboard-configuration/xkb-keymap select de
# # d-i keyboard-configuration/toggle select No toggling

## Hostname setup and network configuration
d-i netcfg/hostname string libre-workspace
d-i netcfg/get_hostname unassigned-hostname 
d-i netcfg/get_domain unassigned-domain
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain seen true

## Clock and time zone setup
d-i clock-setup/utc boolean true
# d-i time/zone string Europe/Berlin


## Account setup: Empty password
d-i passwd/root-password password
d-i passwd/root-password-again password


d-i passwd/user-fullname string SystemV
d-i passwd/username string systemv
# Normal user's password, either in clear text
d-i passwd/user-password password LibreWorkspace
d-i passwd/user-password-again password LibreWorkspace

## Partitioning:
# Disable the following 7 lines to disable automatic partitioning by putting a '#' in front of it
# d-i partman-auto/init_automatically_partition select biggest_free
# d-i partman-auto/method string regular
# d-i partman-auto/choose_recipe select atomic
# d-i partman-partitioning/confirm_write_new_label boolean true
# d-i partman/choose_partition select finish
# d-i partman/confirm boolean true
# d-i partman/confirm_nooverwrite boolean true

## Software:
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/disable-cdrom-entries boolean true

## Choose installation media
d-i apt-setup/cdrom/set-first boolean false 
d-i apt-setup/cdrom/set-next boolean false 
d-i apt-setup/cdrom/set-failed boolean false

## Configure mirror-server (deb.debian.org)
d-i mirror/country string de
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string


tasksel tasksel/first multiselect standard

d-i pkgsel/include string vim openssh-server chromium chromium-l10n lightdm-autologin-greeter openbox

popularity-contest popularity-contest/participate boolean true

## Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
# d-i grub-installer/bootdev  string default

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

# Install custom package
d-i partman/early_command string cp /cdrom/libre-workspace-portal.deb /tmp/libre-workspace-portal.debian
# Delete the cdrom source in apt sources .list (in target)
d-i preseed/late_command string cp /tmp/libre-workspace-portal.deb /target/ && in-target sed -i '/cdrom:/d' /etc/apt/sources.list && in-target /usr/bin/apt update && in-target /usr/bin/apt install /libre-workspace-portal.deb -y && in-target rm /libre-workspace-portal.deb && in-target bash /usr/lib/libre-workspace/portal/prepare_for_first_boot.sh
