{% extends "lac/base.html" %}
{% block content %}

<h2>{% trans "Add group" %}</h2>

{% if message != "" %}
<p><strong>{{ message }}</strong></p>
{% endif %}

<form method="post">{% csrf_token %}
    {{ form }}
    <br><br>
    <div class="grid">
        <div>
            <a href="{% url "group_overview" %}"role="button" class="secondary" style="display: block;">{% trans "Back" %}</a>
        </div>
        <input type="submit" value="{% trans 'Add group' %}">
    </div>
</form>

        
{% endblock %}