{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2>Benutzer hinzufügen</h2>

{% if message != "" %}
<p><strong>{{ message }}</strong></p>
{% endif %}

<form method="post">
    <div class="grid">
        <div>
            <a href="{% url "user_overview" %}"role="button" class="secondary" style="display: block;">Zurück</a>
        </div>
        <input type="submit" value="Benutzer hinzufügen">
    </div>
    {{ form }}
    <br><br>
    <div class="grid">
        <div>
            <a href="{% url "user_overview" %}"role="button" class="secondary" style="display: block;">Zurück</a>
        </div>
        <input type="submit" value="Benutzer hinzufügen">
    </div>
</form>

        
{% endblock %}