{% extends "lac/base.html" %}
{% block content %}

<h2>
    {% blocktrans with cn=cn %}
        Edit '{{ cn }}'
    {% endblocktrans %}
</h2>

{% if message != "" %}
<p><strong>{{ message | safe }}</strong></p>
{% endif %}

<button class="contrast outline"
data-target="modal-deletion"
onClick="toggleModal(event)">
{% trans "Delete user" | upper %}
</button>

<div class="grid">
    <div>
        <a href="{% url "assign_groups_to_user" cn %}"role="button" class="secondary" style="display: block;">{% trans "Group memberships" %}</a>
    </div>
    <div>
        <a href="{% url "reset_2fa" cn %}"role="button" class="secondary" style="display: block;">{% trans "Reset 2-Factor-Authentication" %}</a>
    </div>
</div>

<hr style="margin-top: 20px; margin-bottom: 20px;">

<form method="post">{% csrf_token %}
    <div class="grid">
        <div>
            <a href="{% url "user_overview" %}"role="button" class="secondary" style="display: block;">{% trans "Back" %}</a>
        </div>
        <input type="submit" value="{% trans 'Save changes' %}">
    </div>
    {{ form }}
    <br><br>
    <div class="grid">
        <div>
            <a href="{% url "user_overview" %}"role="button" class="secondary" style="display: block;">{% trans "Back" %}</a>
        </div>
        <input type="submit" value="{% trans 'Save changes' %}">
    </div>
</form>



{% comment %} Confirmation for User deletion {% endcomment %}
<dialog id="modal-deletion">
    <article>
        <a href="#close"
        aria-label="Close"
        class="close"
        data-target="modal-deletion"
        onClick="toggleModal(event)">
        </a>
        <h3>{% trans "Do you really want to delete the user?" %}</h3>
        <p>
        {% trans "This operation is irreversible!" %}
        </p>
        <footer>
        <a href="#cancel"
            role="button"
            class="secondary"
            data-target="modal-deletion"
            onClick="toggleModal(event)">
            {% trans "Cancel" %}
        </a>
        <a href="{% url "delete_user" cn %}"role="button" class="contrast" style="height: 50px">{% trans "Delete user" | upper %}</a>
        </footer>
    </article>
</dialog>

{% endblock %}

