{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2>'{{cn}}' bearbeiten</h2>

{% if message != "" %}
<p><strong>{{ message | safe }}</strong></p>
{% endif %}

<button class="contrast outline"
data-target="modal-deletion"
onClick="toggleModal(event)">
BENUTZER LÖSCHEN
</button>

<div class="grid">
    <div>
        <a href="{% url "assign_groups_to_user" cn %}"role="button" class="secondary" style="display: block;">Zurück</a>
    </div>
</div>
<br>

<form method="post">
    <div class="grid">
        <div>
            <a href="{% url "user_overview" %}"role="button" class="secondary" style="display: block;">Zurück</a>
        </div>
        <input type="submit" value="Änderungen speichern">
    </div>
    {{ form }}
    <br><br>
    <div class="grid">
        <div>
            <a href="{% url "user_overview" %}"role="button" class="secondary" style="display: block;">Zurück</a>
        </div>
        <input type="submit" value="Änderungen speichern">
    </div>
</form>



{% comment %} Confirmation for User deletion {% endcomment %}
<dialog id="modal-deletion">
    <article>
        <a href="#close"
        aria-label="Close"
        class="close"
        data-target="modal-deletion"
        onClick="toggleModal(event)">
        </a>
        <h3>Benutzer wirklich löschen?</h3>
        <p>
        Dieser Vorgang ist nicht mehr umkehrbar!
        </p>
        <footer>
        <a href="#cancel"
            role="button"
            class="secondary"
            data-target="modal-deletion"
            onClick="toggleModal(event)">
            Abbrechen
        </a>
        <a href="{% url "delete_user" cn %}"role="button" class="contrast" style="height: 50px">BENUTZER LÖSCHEN</a>
        </footer>
    </article>
</dialog>

{% endblock %}

