{% extends "lac/base.html" %}
{% block content %}

<h2>Benutzeradministration</h2>

<a href="{% url "create_user" %}" role="button" class="primary">Benutzer hinzufügen</a>

<hr>

<table>
    <thead>
      <tr>
        <th scope="col">Benutzername </th>
        <th scope="col">Anzeigename</th>
        <th scope="col">E-Mail</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{user.cn}}</td>
            <td>{{user.displayName}}</td>
            <td><a href="mailto:{{user.mail}}">{{user.mail}}</a></td>
            <td><a href="{% url "edit_user" user.cn %}" title="Bearbeiten" role="button" class="secondary outline"><span class="material-icons md-16">edit</span></a></td>
        </tr>
            
    
    {% endfor %}
    </tbody>
  </table>

  Hinweis: Einige Systembenutzer sind ausgeblendet.

        
{% endblock %}