{% extends "lac/base.html" %}
{% block content %}

{% if heading %}
<h2>{{ heading }}</h2>
{% else %}
<h2> Erstelle {{ type }} </h2>
{% endif %}

{% if message and message != "" %}
<div class="grid">
    <div style="padding-bottom: 1rem;">
        <a role="button" class="contrast" style="display: block; opacity: 1;
            {% if "Error" in message or "Fehler" in message %}
             background-color: orange; border-color: orange;
            {% endif %}
        
        "><strong>{{ message | safe }}</strong></a>
    </div>
</div>
{% endif %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% if hide_buttons_top %}
    
    {% else %}
        <div class="grid">
            <div>
                <a href="{{url}}"role="button" class="secondary" style="display: block;">Zurück</a>
            </div>
            <input type="submit" value="Erstellen">
        </div>
    {% endif %}
    {{ form }}
    <br><br>
    <div class="grid">
        <div>
            <a href="{{url}}"role="button" class="secondary" style="display: block;">Zurück</a>
        </div>
        <input type="submit" value="Erstellen">
    </div>
</form>
    
{% endblock %}
    