{% if domain == "int.de" %} 
    Stellen Sie auf Ihrem Router (und am besten auf Ihren Geräten) sicher, dass folgender DNS-Eintrag gesetzt ist: <strong>{{ ip }}</strong>
    In der Praxis zeigt sich leider manchmal, dass trotz richtiger DNS-Konfiguration aufgrund von Caches die Verbindungen nicht einwandfrei funktionieren.
    Gegen solche Verbindungsprobleme können Sie bei Linux-Geräten folgenden Eintrag in der Datei <strong>/etc/hosts</strong> sicherstellen:
    <pre>

    {{ ip }}{% for subdomain in subdomains %} {{subdomain}}.{{ domain }}{% endfor %}    
    </pre>

    <small id="copy">Hier klicken, um Text kopieren</small><br><br>


    <p>
        Das Zertifikat für die https-Verbindungen können Sie {% if installation_running %}(nach der Installation){% endif %} jederzeit hier herunterladen: <a href="https://cert.{{ domain }}/lan.crt">https://cert.{{ domain }}/lan.crt</a>
    </p>
{% endif %}

<br>

<div class="grid">
<a href="https://portal.{{domain}}" target="_blank" role="button">Zum Libre-Workspace (portal.{{domain}})</a>
</div>
{% if installation_running %}
<center>(Dieser Link funktioniert erst, wenn der Server fertig installiert ist und ggf. die DNS-Einträge aktualisiert wurden.)</center>
{% endif %}

<script>
    setTimeout(function(){
        window.location.reload(1);
     }, 60000);

    // Copy to clipboard
    document.getElementById('copy').style.cursor = 'pointer';
    document.getElementById('copy').addEventListener('click', function(e) {
        e.preventDefault();
        var text = "{{ ip }}{% for subdomain in subdomains %} {{subdomain}}.{{ domain }}\n{% endfor %}";
        var input = document.createElement('input');
        input.value = text;
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
        document.getElementById('copy').textContent = 'Text wurde in die Zwischenablage kopiert!';
    });
        
</script>

