{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2>Installation...</h2>


<p>
    Vielen Dank für Ihre Zeit! <br> Der Linux-Arbeitsplatz installiert sich nun selbstständig. Dies kann einige Minuten dauern. <br>
    Die Seite kann zu manchen Zeitpunkten nicht erreichbar sein. Bitte stellen Sie sicher, dass der Server eine durchgehende, stabile Internetverbindung hat. <br>
</p>    

<h3>So erreichen Sie den Linux-Arbeitsplatz nach der Installation:</h3>
<p>
    {%include "welcome/access.html"%}
</p>

<p>Nach der Installation startet Ihr Server neu. Dann ist der Linux-Arbeitsplatz einsatzbereit!</p>


<br>
<br>

<center>
    <span class="material-icons md-128">download</span> 
</center>
{% endblock %}
