{% extends "lac/base.html" %}
{% block content %}

<h2>Installation...</h2>

{% if message != "" %}<p><strong>{{ message }}</strong></p>{% endif %}

<p>
    Vielen Dank für Ihre Zeit! <br> Libre-Workspace installiert sich nun selbstständig. Dies kann einige Minuten dauern. <br>
    Diese Seite kann zu manchen Zeitpunkten nicht erreichbar sein. Bitte stellen Sie sicher, dass der Server eine durchgehende, stabile Internetverbindung hat. <br>
</p>    

<p>Nach der Installation startet Ihr Server neu. Dann ist Libre-Workspace einsatzbereit!</p>


<br>
<br>

<center>
    <span class="material-icons md-128">download</span> 
</center>

<br>
<br>

<h3>So erreichen Sie Libre-Workspace nach der Installation:</h3>
<p>
    {%include "welcome/access.html"%}
</p>

{% endblock %}
