{% extends "lac/base.html" %}
{% block content %}

<h2>Module</h2>

<p>Wählen Sie aus, welche Module installiert werden sollen.</p>

{% if message != "" %}<p><strong>{{ message }}</strong></p>{% endif %}

<form method="post">  {% csrf_token %}
    <h3>Cloud</h3>
    <fieldset>
        <label for="nextcloud">
            <img src="/static/lac/icons/nextcloud.webp" alt="" style="height: 128px; padding: 16px;">
          <input type="checkbox" id="nextcloud" name="nextcloud" role="switch" checked onclick="change()">
          Nextcloud - Cloudspeicher, Kontakte, Kalender, Aufgaben, Notizen
        </label>
    </fieldset>
    
    <label for="online_office" id="online_office_label">Online Office
    <select id="online_office" name="online_office" required>
        <option value="collabora" selected>Collabora Online (perfekt für .odt, .ods, .odp Dateien) (Libre Office-Formate)</option>
        <option value="onlyoffice">Only Office (perfekt für .docx, .xls, .ppt Dateien) (Microsoft-Formate)</option>
        <option value="deactivate">Deaktivieren</option>
    </select>
    </label>
    
    <h3>Kommunikation</h3>
    <fieldset>
        <label for="matrix">
            <img src="/static/lac/icons/element.webp" alt="" style="height: 128px; padding: 16px;">
            <input type="checkbox" id="matrix" name="matrix" role="switch" checked>
            Matrix - Chat
        </label>
        
        <label for="jitsi">
            <img src="/static/lac/icons/jitsi.webp" alt="" style="height: 128px; padding: 16px;">
            <input type="checkbox" id="jitsi" name="jitsi" role="switch" checked>
            Jitsi - Videokonferenzen
        </label>
    </fieldset>

    <h3>Weitere Module</h3>
    <fieldset>
        <label for="xfce">
            <img src="/static/lac/icons/xfce.png" alt="" style="height: 128px; padding: 16px;">
            <input type="checkbox" id="xfce" name="xfce" role="switch">
            Desktop-Oberfläche (Xfce)
        </label>
    </fieldset>
        
    
    <input type="submit" value="Weiter">
</form>

<script>
function change() {
    console.log("test");
    nextcloud = document.getElementById("nextcloud");
    online_office = document.getElementById("online_office");
    if (nextcloud.checked) {
        online_office.style.display = "block";
    } else {
        online_office.style.display = "none";
    }
}
</script>

{% endblock %}
