{% extends "lac/base.html" %}
{% block content %}

<h2>Willkommen!</h2>

<p>In den nächsten Seiten werden wir gemeinsam Libre-Workspace einrichten. Bitte definieren Sie zunächst ein sicheres Masterpasswort.<br>
Das Passwort muss mindestens 8 Zeichen lang sein, und Sonderzeichen, Zahlen und Buchstaben enthalten.
</p>
{% if message != "" %}<p><strong>{{ message }}</strong></p>{% endif %}

<form method="post">{% csrf_token %}
    <label for="text">Passwort</label>
    <input type="password" id="password" name="password">

    <label for="text">Passwort wiederholen</label>
    <input type="password" id="password_repeat" name="password_repeat">
    
    <input type="submit" value="Weiter">
</form>


{% endblock %}