Package: linux-arbeitsplatz
Version: 0.3.0
Depends: libldap2-dev, python3-venv, libsasl2-dev, caddy, gcc, python3-dev, borgbackup, python-llfuse | python3-llfuse
Maintainer: Jean28518
Architecture: all
Hompage: https://www.linuxguides.de
Section: admin
Description: Linux-Arbeitsplatz Management Software
Installed-Size: 0
