{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2>Datenimport/-export</h2>

{% include "unix/mounting.html" %}

{% include "unix/data_export.html" %}

{% if nextcloud_user_directories|length > 0 %}
    {% include "unix/data_import.html" %}
{% endif %}

<div align="center">Hinweis: Diese Seite aktualisiert sich alle 60 Sekunden.</div>

<script>
    setTimeout(function(){
        window.location.reload(1);
     }, 60000);
</script>

{% endblock %}