{% load i18n %}
<article>

    <h2>{% trans "Data import (Nextcloud)" %}</h2>

    {% if nextcloud_import_process_running %}

    <p> 
        Der Datenimport läuft gerade. Bitte warte, bis der Importier-Vorgang abgeschlossen ist.
        Dieser Vorgang kann einige Stunden dauern.
        Erst ganz am Ende des Vorgangs werden die Daten in der Nextcloud sichtbar.<br>
    </p>
        <a href="{% url "abort_current_data_export" %}">{% trans "Cancel" %}</a>
    {% else %}



        <p>
            Dieses Tool ermöglicht es, Daten von einer Festplatte auf die Nextcloud zu importieren.
            Die Daten werden dabei in den Nextcloud Bereich eines bestimmten Nutzers kopiert.
            Erst ganz am Ende des Vorgangs werden die Daten in der Nextcloud sichtbar.<br>
            Möchten Sie die Daten in einen Gruppenordner importieren, so müssen Sie die Daten zunächst in den Nextcloud Bereich eines Nutzers importieren und anschließend in den Gruppenordner verschieben.
        </p>


        <form action="{% url "data_import_1" %}" method="post">{% csrf_token %}
        <label for="current_directory">{% trans "Disk" %}</label>
        <select name="current_directory" id="current_directory" required>
            <option value="" selected>{% trans "Choose the source disk" %}</option>
            {% for partition in partitions %}
            {% if partition.mountpoint %}<option value="{{ partition.mountpoint }}">{{ partition.name }} ({{partition.size}})</option>{% endif %}
            {% endfor %}
        </select>
        <label for="user_import">{% trans "Nextcloud user" %}</label>
        <select name="user_import" id="user_import" required>
            <option value="" selected>{% trans "Choose the Nextcloud user..." %}</option>
            {% for nc_user in nextcloud_user_directories %}
            <option value="{{nc_user.path}}">{{ nc_user.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Import...' %}">
        </form>
        <p>{% trans "In the next step, select the folder on the source hard drive that you want to import." %}</p>

    {% endif %}

</article>