{% load i18n %}
<article>

    <h2>{% trans "Data export" %}</h2>

    {% if data_export_status != "running" %}

        {% comment %} Rsync log {% endcomment %}
        {% if rsync_history != "" %}
        <!-- Button to trigger the modal -->
        <a class="outline"
        data-target="rsync-log"
        onClick="toggleModal(event)"
        href="#">
        {% trans "View messages from the last export" %}
        </a>
        <!-- Modal -->
        <!-- Modal -->
        <dialog id="rsync-log">
            <article>
            <a href="#close"
                aria-label="Close"
                class="close"
                data-target="rsync-log"
                onClick="toggleModal(event)">
            </a>
            <h3>{% trans "Messages from the last export" %}</h3>
            <p>{% trans "The fewer messages you see, the more error-free the last export was." %}</p>
            <code>
                {{ rsync_history | safe }}
            </code>
            <footer>
                <a href="#cancel"
                role="button"
                class="secondary"
                data-target="rsync-log"
                onClick="toggleModal(event)">
                {% trans "Close" %}
                </a>
            </footer>
            </article>
        </dialog>
        <br>
        <br>
        {% endif %}

        <p>
            Wähle eine Partition aus, auf der alle Daten des Servers exportiert werden sollen.
            Es werden alle wichtigen Daten (auch von eingebundenen Festplatten) gesichert, welche nicht in /mnt oder /media eingehängt sind.<br>
            Sollte schon ein Export dieses Servers auf dem Ziel existieren, werden die Daten auf dem Export überschrieben/aktualisiert.
            Es wird nicht überprüft, ob auf dem Ziel genügend Speicherplatz vorhanden ist.
        </p>

        <form action="{% url "data_export" %}" method="post">{% csrf_token %}
        <label for="partition-export">{% trans "Disk" %}</label>
        <select name="partition-export" id="partition-export" required>
            <option value="" selected>{% trans "Choose a destination..." %}</option>
            {% for partition in partitions %}
                {% if partition.mountpoint %}
                    {% if partition.mountpoint != "/" %}
                        {% if partition.under1G %}

                        {% else %}
                            <option value="{{ partition.mountpoint }}">{{ partition.name }} ({{partition.size}})</option>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Export' %}">
        </form>

        <p>{% trans "Note: All services are temporarily disabled during the export process." %}</p>
    {% else %}
    <p> 
        Der Daten-Export läuft gerade. Bitte warte, bis der Export abgeschlossen ist.
        Dieser Vorgang kann einige Stunden dauern.
        Alle weiteren Dienste werden gerade pausiert und sind aktuell nicht erreichbar.
    </p>
        <a href="{% url "abort_current_data_export" %}">{% trans "Cancel" %}</a>
    {% endif %}




</article>