{% extends "lac/base.html" %}
{% block content %}

    <h2> E-Mail Konfiguration </h2>

    <p>
        Um die volle Funktionalität auszuschöpfen, wird empfohlen, ein Mail-Konto anzugeben, über dies der Libre-Workspace selbständig Einladungen, 
        "Passwort-Zurücksetzen"-Mails oder weiteres versenden kann.
    </p>

    {% if message != "" %}
    <p><strong>{{ message }}</strong></p>
    {% endif %}

    <a href="{% url "test_mail" %}" role="button" class="secondary" style="display: block;">Test-Mail senden</a>

    
    <form method="post">  {% csrf_token %}
        {{ form }}

        <div class="grid">
            <div>
                <a href="{% url "system_configuration" %}"role="button" class="secondary" style="display: block;">Zurück</a>
            </div>
            <input type="submit" value="Änderungen speichern">
        </div>
    </form>


{% endblock %}