{% extends "lac/base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Libre Workspace modules" %}</h2>

<table>
    <thead>
        <tr>
            <th scope="col">{% trans "Module" %}</th>
            <th scope="col">{% trans "Installed?" %}</th>
            <th scope="col">{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>
{% for module in modules %}
        <tr>
            <td>{{ module.name }}</td>
            <td>{% if module.installed %}<span class="material-icons md-24">check</span> {% endif %}</td>
            {% if module.installed %}
                <td><button data-target="modal-uninstall-{{ module.name }}" onClick="toggleModal(event)" class="danger">{% trans "Uninstall" %}</button></td>
            {% else %}
                <td><button data-target="modal-install-{{ module.name }}" onClick="toggleModal(event)">{% trans "Install" %}</button></td>
            {% endif %}
        </tr>

         

        <!-- Modal for Uninstall -->
        <dialog id="modal-uninstall-{{ module.name }}">
        <article>
        <a href="#close"
            aria-label="Close"
            class="close"
            data-target="modal-uninstall-{{ module.name }}"
            onClick="toggleModal(event)">
        </a>
        <h3>{{ module.name }} deinstallieren?</h3>
        <p>
            Möchten Sie das Modul wirklich deinstallieren? Das entfernt ebenfalls alle Daten und Einstellungen des Moduls.
            Sollte das Modul administrativ manuell verändert oder installiert worden sein, kann es zu Problemen bis hin zum weiteren Datenverlust kommen.
            Nutzen Sie diese Funktion nur, wenn Sie Backups eingerichtet haben, alle Daten auf dem Modul nicht mehr benötigen und das Modul automatisch installiert wurde.
        </p>
        <footer>
            <a href="#cancel"
            role="button"
            class="secondary"
            data-target="modal-uninstall-{{ module.name }}"
            onClick="toggleModal(event)">
            {% trans "Cancel" %}
            </a>
            <a href="{% url 'uninstall_module' module.id %}"
            role="button"
            class="danger"
            data-target="modal-uninstall-{{ module.name }}">
            {% trans "Uninstall" %}
            </a>
        </footer>
        </article>
        </dialog>
        
        <!-- Modal for Install -->
        <dialog id="modal-install-{{ module.name }}">
        <article>
        <a href="#close"
            aria-label="Close"
            class="close"
            data-target="modal-install-{{ module.name }}"
            onClick="toggleModal(event)">
        </a>
        <h3>{{ module.name }} installieren?</h3>
        <p>
            {% trans "Are you sure you want to install the module? This may take some time." %}
        </p>
        <footer>
            <a href="#cancel"
            role="button"
            class="secondary"
            data-target="modal-install-{{ module.name }}"
            onClick="toggleModal(event)">
            {% trans "Cancel" %}
            </a>
            <a href="{% url 'install_module' module.id %}"
            role="button"
            data-target="modal-install-{{ module.name }}">
            {% trans "Install" %}
            </a>
        </footer>
        </article>
        </dialog>

       
{% endfor %}
    </tbody>
</table>

<hr>

{% if form != "" %}
    <h3>{% trans "Online Office modules" %}</h3>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="primary">{% trans "Apply" %}</button>
    </form>
{% endif %}

{% if message != "" %}
<p><strong>{{ message | safe }}</strong></p>
{% endif %}


{% endblock %}