{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2>Libre Workspace Module</h2>

<table>
    <thead>
        <tr>
            <th scope="col">Modul</th>
            <th scope="col">Installiert?</th>
            <th scope="col">Aktion</th>
        </tr>
    </thead>
    <tbody>
{% for module in modules %}
        <tr>
            <td>{{ module.name }}</td>
            <td>{% if module.installed %}<span class="material-icons md-24">check</span> {% endif %}</td>
            {% if module.installed %}
                <td><button data-target="modal-uninstall-{{ module.name }}" onClick="toggleModal(event)" class="danger">Deinstallieren</button></td>
            {% else %}
                <td><button data-target="modal-install-{{ module.name }}" onClick="toggleModal(event)">Installieren</button></td>
            {% endif %}
        </tr>

         

        <!-- Modal for Uninstall -->
        <dialog id="modal-uninstall-{{ module.name }}">
        <article>
        <a href="#close"
            aria-label="Close"
            class="close"
            data-target="modal-uninstall-{{ module.name }}"
            onClick="toggleModal(event)">
        </a>
        <h3>{{ module.name }} deinstallieren?</h3>
        <p>
            Möchten Sie das Modul wirklich deinstallieren? Das entfernt ebenfalls alle Daten und Einstellungen des Moduls.
            Sollte das Modul administrativ manuell verändert oder installiert worden sein, kann es zu Problemen bis hin zum weiteren Datenverlust kommen.
            Nutzen Sie diese Funktion nur, wenn Sie Backups eingerichtet haben, alle Daten auf dem Modul nicht mehr benötigen und das Modul automatisch installiert wurde.
        </p>
        <footer>
            <a href="#cancel"
            role="button"
            class="secondary"
            data-target="modal-uninstall-{{ module.name }}"
            onClick="toggleModal(event)">
            Abbrechen
            </a>
            <a href="{% url 'uninstall_module' module.id %}"
            role="button"
            class="danger"
            data-target="modal-uninstall-{{ module.name }}">
            Deinstallieren
            </a>
        </footer>
        </article>
        </dialog>
        
        <!-- Modal for Install -->
        <dialog id="modal-install-{{ module.name }}">
        <article>
        <a href="#close"
            aria-label="Close"
            class="close"
            data-target="modal-install-{{ module.name }}"
            onClick="toggleModal(event)">
        </a>
        <h3>{{ module.name }} installieren?</h3>
        <p>
            Möchten Sie das Modul wirklich installieren? Das kann einige Zeit in Anspruch nehmen.
        </p>
        <footer>
            <a href="#cancel"
            role="button"
            class="secondary"
            data-target="modal-install-{{ module.name }}"
            onClick="toggleModal(event)">
            Abbrechen
            </a>
            <a href="{% url 'install_module' module.id %}"
            role="button"
            data-target="modal-install-{{ module.name }}">
            Installieren
            </a>
        </footer>
        </article>
        </dialog>

       
{% endfor %}
    </tbody>
</table>

<hr>

{% if form != "" %}
    <h3> Online Office Module </h3>

    <form method="post">
        {{ form.as_p }}
        <button type="submit" class="primary">Anwenden</button>
    </form>
{% endif %}

{% if message != "" %}
<p><strong>{{ message | safe }}</strong></p>
{% endif %}


{% endblock %}