{% load i18n %}
<article>

<h2>{% trans "Disks" %}</h2>

<table>
    <thead>
        <tr>
            <th>{% trans "Partition" %}</th>
            <th>{% trans "Size" %}</th>
            <th>{% trans "Mounting point" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for partition in partitions %}
        <tr>
            <td>{{ partition.name }}</td>
            <td>{{ partition.size }}</td>
            <td>{% if partition.mountpoint %}{% endif %}{{ partition.mountpoint}}</td>
            <td>
                {% if partition.mountpoint != "/"%}
                    {% if partition.mountpoint %}
                        <a href="{% url "umount" partition.name %}">{% trans "Unmount" %}</a>
                    {% else %}
                        <a href="{% url "mount" partition.name %}">{% trans "Mount" %}</a>
                    {% endif %}
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</article>