{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2> {{ title }} </h2>

<p>{{ description }}</p>
   
{% include "unix/folder_view.html" %}


<div class="grid">
    <form method="post" style="display: inline;">
        <input type="hidden" name="cancel" value="cancel">
        <div>
            <button type="submit" name="cancel" value="cancel" class="secondary">

                Abbrechen
            </button>
        </div>
    </form>
    <form method="post" style="display: inline;">
        <input type="hidden" name="select" value="select">
        <button type="submit" name="select" value="select" class="primary">
        Aktuellen Ordner "{{current_directory}}" wiederherstellen
        </button>
    </form>
</div>

{% endblock %}