{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2> Ordner auswählen </h2>

<p>{{ description }}</p>

<h3> Aktuell ausgewählter Ordner: {{current_directory}} </h3>

        <form method="post" style="display: inline;">
            <input type="hidden" name="pick" value="..">
            <button type="submit" name="pick" value=".." class="contrast outline">
            Nach oben
            </button>
        </form>

        {% for folder in folder_list %}
            <tr>
                {% comment %} <td><a href="">{{ folder }}</a></td> {% endcomment %}
                <form method="post" style="display: inline;">
                    <input type="hidden" name="pick" value="{{ folder }}">
                    <button type="submit" name="pick" value="{{ folder }}" class="contrast outline">
                      {{folder}}
                    </button>
                  </form>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="grid">
    <form method="post" style="display: inline;">
        <input type="hidden" name="cancel" value="cancel">
        <button type="submit" name="cancel" value="cancel" class="secondary" style="height: 62px">
        Abbrechen
        </button>
    </form>
    <form method="post" style="display: inline;">
        <input type="hidden" name="select" value="select">
        <button type="submit" name="select" value="select" class="primary" style="height: 62px">
        Aktuellen Ordner auswählen
        </button>
    </form>
</div>

{% endblock %}