{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2> Ordner auswählen </h2>

<p>{{ description }}</p>
   
{% include "unix/folder_view.html" %}


<div class="grid">
    <form method="post" style="display: inline;">
        <input type="hidden" name="cancel" value="cancel">
        <button type="submit" name="cancel" value="cancel" class="secondary" style="height: 62px">
        Abbrechen
        </button>
    </form>
    <form method="post" style="display: inline;">
        <input type="hidden" name="select" value="select">
        <button type="submit" name="select" value="select" class="primary" style="height: 62px">
        Aktuellen Ordner "{{current_directory}}" auswählen
        </button>
    </form>
</div>

{% endblock %}