{% extends "lac/base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "System configuration" %}</h2>

<div class="grid">
    <a class="secondary" href="{% url "email_configuration" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">email</span> 
            <br> 
            {% trans "E-Mail configuration" %}
        </article>
    </a>
    <a class="secondary" href="{% url "module_management" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">dashboard</span> 
            <br> 
            {% trans "Libre Workspace modules" %}
        </article>
    </a>
    <a class="secondary" href="{% url "addons" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">star</span> 
            <br> 
            {% trans "Addon management" %}
        </article>
    </a>
    <a class="secondary" href="{% url "critical_system_configuration" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">construction</span> 
            <br> 
            {% trans "Critical system configuration" %}
        </article>
    </a>
    
</div>

<div class="grid">
    <a class="secondary" href="{% url "automatic_shutdown" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">refresh</span> 
            <br> 
            {% trans "Automatic reboot / shut down" %}
        </article>
    </a> 
    <a class="secondary" href="{% url "additional_services" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">rss_feed</span> 
            <br> 
            {% trans "Additional services" %}
        </article>
    </a>
    <a class="secondary" href="{% url "oidc_client_overview" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">login</span> 
            <br> 
            {% trans "OpenID Connect (SSO)" %}
        </article>
    </a>
    <a class="secondary" href="{% url "miscellaneous_settings" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">settings</span> 
            <br> 
            {% trans "Other settings" %}
        </article>
    </a>
    
</div>

{% endblock %}