{% load i18n %}
<article>
    <h3>{% trans "System" %}</h3>
    <table>
        <tr>
            <th>{% trans "Name" %}</th>
            <td>{{ system_information.lw_name }} (<a href="{% url "change_libre_workspace_name" %}">{% trans "Change" %}</a>)</td>
        </tr>
        <tr>
            <th>{% trans "Libre Workspace version" %}</th>
            <td>{{ system_information.lw_version }}
            {% if system_information.new_libre_workspace_version %}
                - <a href="{% url "update_libre_workspace" %}" class="secondary">Auf Libre Workspace {{system_information.new_libre_workspace_version}} aktualisieren</a>
            {% endif %}
            </td>
        </tr>
        <tr>
            <th>{% trans "Host name" %}</th>
            <td>{{ system_information.hostname }}</td>
        </tr>
        <tr>
            <th>{% trans "Operating system" %}</th>
            <td>{{ system_information.os }}</td>
        </tr>
        <tr>
            <th>{% trans "Processor load" %} (~ 1 min)</th>
            <td><progress id="cpu_load" max="100"></progress><span id="cpu_load_desc"></span></td>
        </tr>
        <tr>
            <th>{% trans "RAM" %}</th>
            <td><progress id="ram_usage" value="{{system_information.ram_percent}}" max="100"></progress><span id="ram_usage_desc"></span></td>
        </tr>
        <tr>
            <th>{% trans "Operating time" %}</th>
            <td>{{ system_information.uptime }}</td>
        </tr>
        <tr>
            <th>{% trans "Updates" %}</th>
            <td>{{ system_information.update_information }} 
                {% if system_information.last_update_log %} 
                    <br>
                    {% comment %} Button for update log {% endcomment %}
                    <a
                    data-target="modal-update_log"
                    onClick="toggleModal(event)"
                    title="System aktualisieren">
                    {% trans "Show last update log" %}
                    </a>
                    <!-- Modal -->
                    <dialog id="modal-update_log">
                        <article>
                        <a href="#close"
                            aria-label="Close"
                            class="close"
                            data-target="modal-update_log"
                            onClick="toggleModal(event)">
                        </a>
                        <code>
                            {{system_information.last_update_log | safe}}
                        </code>
                        <footer>
                            <a href="#cancel"
                            role="button"
                            class="secondary"
                            data-target="modal-update_log"
                            onClick="toggleModal(event)">
                            {% trans "Close" %}
                            </a>
                        </footer>
                        </article>
                    </dialog>
                {% endif %}</td>
        </tr>
    </table>

    
       
    <h4>{% trans "Disks" %}</h4>
    <div class="grid">
        {% for disk in disks_stats %}
        <div>
            <strong>{{ disk.name }}: {{ disk.mountpoint }}</strong>
            <progress value="{{disk.used_percent}}" max="100"></progress>
            <p>{% trans "Total size" %}: {{ disk.size }} &bull; {% trans "Used" %}: {{ disk.used }}</p>

        </div>
        {% endfor %}
    </div>
    <h4>{% trans "Control" %}</h4>
    {% comment %} Start / Stop all services {% endcomment %}
    <div class="grid">
        <div>
            <a href="{% url "start_all_services" %}"role="button" class="secondary" style="display: block;">{% trans "Start all services" %}</a>
        </div>
        <div>
            <a href="{% url "stop_all_services" %}"role="button" class="secondary" style="display: block;">{% trans "Stop all services" %}</a>
        </div>
    </div>

    <br>

    <div class="grid">
        <div>

            {% comment %} Button for system update {% endcomment %}
            <button
            data-target="modal-update"
            onClick="toggleModal(event)"
            title="System aktualisieren">
            <span class="material-icons">upgrade</span>
            </button>
            <!-- Modal -->
            <dialog id="modal-update">
                <article>
                <a href="#close"
                    aria-label="Close"
                    class="close"
                    data-target="modal-update"
                    onClick="toggleModal(event)">
                </a>
                <h3>{% trans "Update system?" %}</h3>
                <p>
                    Möchten Sie das System wirklich aktualisieren?
                    Dies wird alle verfügbaren Updates herunterladen und installieren.
                </p>
                <footer>
                    <a href="#cancel"
                    role="button"
                    class="secondary"
                    data-target="modal-update"
                    onClick="toggleModal(event)">
                    {% trans "Cancel" %}
                    </a>
                    <a href="{%url 'update_system'%}"
                    role="button"
                    data-target="modal-update">
                    {% trans "Update now" %}
                    </a>
                </footer>
                </article>
            </dialog>
        </div>

            <div>
                {% comment %} Button for system restart {% endcomment %}
                <button
                        data-target="modal-restart"
                        onClick="toggleModal(event)"
                        title="System neustarten">
                    <span class="material-icons">restart_alt</span>
                </button>
                <!-- Modal -->
                <dialog id="modal-restart">
                    <article>
                        <a href="#close"
                            aria-label="Close"
                            class="close"
                            data-target="modal-restart"
                            onClick="toggleModal(event)">
                        </a>
                        <h3>{% trans "Reboot system?" %}</h3>
                        <p>
                            Möchten Sie das System wirklich neustarten?
                            Dies wird alle laufenden Prozesse beenden und das System neu starten.
                        </p>
                        <footer>
                            <a href="#cancel"
                                role="button"
                                class="secondary"
                                data-target="modal-restart"
                                onClick="toggleModal(event)">
                                {% trans "Cancel" %}
                            </a>
                            <a href="{%url 'reboot_system'%}"
                                role="button"
                                data-target="modal-restart">
                                {% trans "Reboot now" %}
                            </a>
                        </footer>
                    </article>
                </dialog>
            </div>

        
            <div>

                {% comment %} Button for shutdown {% endcomment %}
                <button
                data-target="modal-shutdown"
                onClick="toggleModal(event)"
                title="Server herunterfahren">
                <span class="material-icons">power_settings_new</span>
                </button>
                <!-- Modal -->
                <dialog id="modal-shutdown">
                <article>
                <a href="#close"
                    aria-label="Close"
                    class="close"
                    data-target="modal-shutdown"
                    onClick="toggleModal(event)">
                </a>
                <h3>{% trans "Shut down server?" %}</h3>
                <p>
                    {% trans "Do you really want to shut down the server?" %}
                </p>
                <strong>{% trans "THIS WILL SHUT DOWN THE SERVER. TO START THE SERVER AGAIN, YOU MUST MANUALLY (LOCALLY) POWER IT ON AGAIN." %}</strong>
                <footer>
                    <a href="#cancel"
                    role="button"
                    class="secondary"
                    data-target="modal-shutdown"
                    onClick="toggleModal(event)">
                    {% trans "Cancel" %}
                    </a>
                    <a href="{%url 'shutdown_system'%}"
                    role="button"
                    class="danger"
                    data-target="modal-shutdown">
                    {% trans "SHUT DOWN NOW" %}
                    </a>
                </footer>
                </article>
            </dialog>
        </div>
    </div>
</article>

<script>
    $(document).ready(function() {
        function updateSystemInformation() {
            $.ajax({
                url: "{% url "system_information" %}",
                type: "GET",
                success: function(data) {
                    $("#cpu_load").val(data.cpu_usage_percent);
                    $("#cpu_load_desc").text(data.cpu_usage_percent + "%");

                    $("#ram_usage").val(data.ram_percent);
                    $("#ram_usage_desc").text("Gesamtgröße: " + data.total_ram + "G - Belegt: " + data.ram_usage  + "G (" + data.ram_percent + "%)");
                    
                }
            });
            setTimeout(updateSystemInformation, 1000);
        }
        updateSystemInformation();
    });
</script>