{% extends "lac/base.html" %}
{% comment %} {% csrf_token %} {% endcomment %}
{% block content %}

<h2>Systemkonfiguration</h2>

<div class="grid">
    <a class="secondary" href="{% url "email_configuration" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">email</span> 
            <br> 
            E-Mail Konfiguration
        </article>
    </a>
    <a class="secondary" href="{% url "module_management" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">dashboard</span> 
            <br> 
            Libre Workspace Module
        </article>
    </a>
    <a class="secondary" href="{% url "addons" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">star</span> 
            <br> 
            Addon Verwaltung
        </article>
    </a>
    <a class="secondary" href="{% url "critical_system_configuration" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">construction</span> 
            <br> 
            Kritische Systemkonfiguration
        </article>
    </a>
    
</div>

<div class="grid">
    <a class="secondary" href="{% url "automatic_shutdown" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">refresh</span> 
            <br> 
            Automatischer Reboot/Shutdown
        </article>
    </a> 
    <a class="secondary" href="{% url "additional_services" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">rss_feed</span> 
            <br> 
            Zusätzliche Dienste
        </article>
    </a>
    <a class="secondary" href="{% url "oidc_client_overview" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">login</span> 
            <br> 
            OpenID Connect (SSO)
        </article>
    </a>
    <a class="secondary" href="{% url "miscellaneous_settings" %}">
        <article style="text-align: center;">
            <span class="material-icons md-96">settings</span> 
            <br> 
            Sonstige Einstellungen
        </article>
    </a>
    
</div>

{% endblock %}