{% load i18n %}
<article>
    <h3>{% trans "Fully automated updates" %}</h3>
    <h3>{% trans "Configuration" %}</h3>
    <div>
        <fieldset>
            <form action="{% url "set_update_configuration" %}" method="POST">{% csrf_token %}
                <table>
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Module" %}</th>
                            <th scope="col">{% trans "Update now" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in update_information.software_modules %}
                        {% if module.installed %}
                                <tr>
                                    <td>
                                        <label for="{{module.id}}">
                                        <input type="checkbox" id="{{module.id}}" name="{{module.id}}" role="switch" {% if module.automaticUpdates %}checked{% endif %}>
                                        {{module.name}}
                                        </label>
                                    </td>
                                    <td>
                                        <a href="{% url "update_module_now" module.id %}">{% trans "Update now" %}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                    <!-- Time -->
                    <label for="time">{% trans "Run automatic updates at" %}:
                        <input type="time" id="time" name="time" value="{{update_information.update_time}}" required>
                    </label>
                <input type="submit" value="{% trans 'Save' %}">
            </form>
        </fieldset>
    </div>
    <div class="grid">
        <div>
            <h4>Verlauf</h4>
            <div style="max-height: 300px; overflow: auto;">
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Log files" %}</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for update_log in update_information.update_history %}
                        <tr>
                            <td>{{ update_log.date }}</td>
                            <td>
                               <!-- Button to trigger the modal -->
                                <a class="outline"
                                data-target="update_log{{ update_log.date }}"
                                onClick="toggleModal(event)"
                                href="#">
                                {% trans "Show report" %}
                                </a>
                                <!-- Modal -->
                                <!-- Modal -->
                                <dialog id="update_log{{ update_log.date }}">
                                    <article>
                                    <a href="#close"
                                        aria-label="Close"
                                        class="close"
                                        data-target="update_log{{ update_log.date }}"
                                        onClick="toggleModal(event)">
                                    </a>
                                    <h3>{% trans "Update at" %} {{ update_log.date }}</h3>
                                    <code>
                                        {{ update_log.content | safe }}
                                    </code>
                                    <footer>
                                        <a href="#cancel"
                                        role="button"
                                        class="secondary"
                                        data-target="update_log{{ update_log.date }}"
                                        onClick="toggleModal(event)">
                                        {% trans "Close" %}
                                        </a>
                                    </footer>
                                    </article>
                                </dialog>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</article>

