[Unit]
Description=Linux-Arbeitsplatz web service

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/usr/share/linux-arbeitsplatz/
ExecStart=/usr/share/linux-arbeitsplatz/run.sh
Restart=on-failure
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target