[Unit]
Description=Linux-Arbeitsplatz Unix Service. Runs command which are issued from web.

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/usr/share/linux-arbeitsplatz/
ExecStart=/usr/share/linux-arbeitsplatz/unix_service.sh
Restart=on-failure
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target