[Unit]
Description=Libre Workspace Service. Runs commands which are issued from web and automatic actions.

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/usr/bin/libre-workspace-service
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target