# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Deb

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - run: bash build_deb.sh
      - name: Upload deb
        uses: actions/upload-artifact@v1
        with:
          name: linux-arbeitsplatz-deb
          path: linux-arbeitsplatz.deb